body{
    margin:0%;
    padding: 0%;
    background: linear-gradient(rgb(159, 197, 206), rgb(209, 164, 198));
    height: 721px;
}
#header{
    border-bottom: 1px rgb(98, 145, 151) solid;
}
img{
    padding-left: 30px;
    padding-top: 10px;
    max-width: 140px;
    max-height: 140px;
    border-radius: 35%;
}
#inner-div{
    position: absolute;
    right: 5%;
    top: 5%;
}
label{
    margin-left: 15px;
    font-size: 22px;
}
input{
    padding: 5px 5px 5px 10px ;
    border-radius: 10px;
    width: 200px;
    font-size: 18px;
}
button{
    margin-left: 15px;
    background-color: rgb(65, 158, 169);
    font-size: 22px;
    border-radius: 10px;
}
button:hover{
background-color: rgb(60, 134, 146);
}
p{
    text-align: center;
}
h1{
    text-align: center;
}

/*Home Page*/

table{
    border: 3px solid rgb(149, 104, 104);
    background: -moz-linear-gradient(rgb(231, 186, 186),rgb(185, 244, 185));
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
h2{
    text-align: center;
}